<h1><strong>Carpe Lotion Dermatologist Portal</strong></h1>



  <div class="home_button">
    <%= link_to 'Register for free samples', '/signup' %>
  </div>
  <div class="home_button">
    <%= link_to 'Log in to mananage sample shipment', '/login' %>
  </div>
  <div class="home_button">
    <%= link_to 'Learn more about how Carpe Lotion can help your patients', '/info' %>
  </div>
  <% if current_user && current_user.admin? %>
  <div class="home_button">
    <%= link_to 'Admin Page', '/admin_page' %>
  </div>
  <% end %>
