<h1>Information about Carpe Lotion</h1>
<div class="col-md-6 col-md-offset-3">
  <p>
    <em>We developed an affordable, over-the-counter antiperspirant lotion to help those (including ourselves) with sweaty palms and feet. It offers new hope for patients with hyperhidrosis.</em>
  </p>
  <p>
    By David Spratte.
  </p>
  <p>
    By the time I graduated high school in May 2013, I had already shadowed 22 different surgeons and physicians; I had already set my heart on becoming a Mohs surgeon; and I had already planned my medical career all the way through medical school and residency. When I arrived at the University of North Carolina at Chapel Hill as an undergrad, I wasted no time in pursuing these dreams: I spent hours conducting research in the areas of lymphoma (diffuse large B-cell lymphoma and double hits specifically), burn, facial trauma, antibiotics, and patient-centered care. I finished my premed courses, I worked through my reams of MCAT study guides, and then I stopped. Right at the cusp of applying to medical school with the ideal resume, I abandoned those plans because I realized that I had been working on something far more important to me all this time.
  </p>
  <p>
    My senior year of high school, I was playing sports, interviewing for colleges and scholarships, and going on dates, but during all of this, I had very, very sweaty hands. A lot of my friends and the people that I met and interviewed with, all had sweaty hands as well, and we were all operating under the common assumption that they are gross, awkward, and embarrassing; but that there are not any solutions, so we just have to keep furiously wiping our hands against our pants to try and stay dry; we have to just deal with it. I noticed the same thing about sweaty feet. I did not understand why there were not any common remedies for problems as pervasive as sweaty hands and feet. So I decided to make one. During my freshman year of college, I embarked on a journey with 2 partners, Kasper Kubica and Chris Jenks, to create Carpe Lotion: a simple and effective solution for sweaty hands and feet. It has been available for purchase since the summer of 2015. It is an antiperspirant lotion that is nonirritating and highly efficacious. It is the only over-the-counter solution to palmar and plantar hyperhidrosis (excessive sweating), with full FDA compliance. What started as a kitchen experiment in high school, after realizing a huge unmet need, is now an effective, affordable, nonirritating, and convenient solution for people with hyperhidrosis.
  </p>
  <h3>Positive Results</h3>
  <p>
    In our efficacy study of Carpe Lotion, after just 3 days of once-daily application, individuals experienced a mean sweat reduction of 25%. The product is most efficacious after 4 weeks of multiday use (once before bed and 2 more times during the day for 4 weeks), because effects compound with extended use. A study on the active ingredient (aluminum sesquichlorohydrate) showed 61% sweat reduction after 4 weeks of use (every night during the first 2 weeks and 3 times a week during the following 2 weeks).<%= link_to '[1]', 'https://www.ncbi.nlm.nih.gov/pubmed/18727813' %> In terms of comfort, the lotion includes moisturizing components that prevent dryness. Additionally, in an irritation study, all 54 individuals experienced zero adverse events.<%= link_to '[2]', 'https://www.carpelotion.com/carpetestresults.pdf' %>
  </p>
  <p>
    Unfortunately, many people who are embarrassed by their sweaty hands and feet do not speak to dermatologists about them. New estimates published in the Archives of Dermatological Research demonstrated a substantially higher prevalence of hyperhidrosis among Americans than previously reported. The new data indicate that approximately 15.3 million people in the United States, or 4.8% of the population, have hyperhidrosis; of these, 70% report severe excessive sweating in at least one body area, the most common area being the underarms. Almost 50% have not discussed their condition with a health care professional either because they believe that hyperhidrosis is not a medical condition or that no treatment options exist.<%= link_to '[3]', 'http://link.springer.com/article/10.1007/s00403-016-1697-9' %>
  </p>
  <p>
    In a random, incentivized, statistically significant survey, we found that 50% of respondents younger than 30 have or frequently get sweaty hands, and 62% of respondents have or frequently get sweaty feet. Most of these people did not know that there were solutions available to them.
  </p>
  <p>
    So next time you see a patient with palmar or plantar hyperhidrosis who may not be ready for onabotulinumtoxinA (Botox) or other prescription treatments, Carpe Lotion offers another treatment option for your patients.
  </p>
  <p>
    <em>Originally published in The Dermatologist magazine, November 2016 issue</em>
  </p>

</div>
